body {
    margin: 0px;
}

.pageFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .shelfSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 500px;
    background-color: darkseagreen;
  }
  
  .shelf {
    background-image: repeating-linear-gradient(
      90deg,
      navajowhite 0 5px,
      bisque 5px 10px,
      wheat 5px 15px,
      tan 1px 16px
    );
    border-width: 0px 12px;
    border-style: solid;
    border-image: repeating-linear-gradient(
      90deg,
      navajowhite 0 3px,
      bisque 3px 6px,
      wheat 3px 9px,
      tan 1px 10px
    ) 10;
    width: 380px;
    background-color: burlywood;
    box-shadow: -25px 0px 75px 2px grey, -5px 0px 8px 5px grey, 10px 0px 2px burlywood;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .shelf:before {
    content: "";
    display: block;
    position: absolute;
    width: 95%;
    max-width: 450px;
    height: 18px;
    margin: -23px -35px;
    border-radius: 15px;
    background-color: black;
    border-style: double;
    border-color: tan;
    background-image: repeating-linear-gradient(
      0deg,
      navajowhite 0 5px,
      bisque 5px 10px,
      wheat 5px 15px,
      tan 1px 16px
    );
    box-shadow: -5px 5px 15px 1px grey;
  }
  
  .shelf:after {
    content: "";
    display: block;
    position: absolute;
    width: 95%;
    max-width: 450px;
    height: 18px;
    margin: 0px -35px;
    border-radius: 15px;
    background-color: black;
    border-style: double;
    border-color: tan;
    background-image: repeating-linear-gradient(
      0deg,
      navajowhite 0 5px,
      bisque 5px 10px,
      wheat 5px 15px,
      tan 1px 16px
    );
    box-shadow: -10px 0px 15px 1px grey;
  }
  
  .top-shelf{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    column-gap: 10px;
    border-width: 6px 0px;
    border-style: solid;
    border-image: repeating-linear-gradient(
      0deg,
      navajowhite 0 3px,
      bisque 3px 6px,
      wheat 3px 9px,
      tan 1px 10px
    ) 10;
    width: fill-content;
    height: 70px;
    box-shadow: inset 15px 15px 28px -8px dimgrey;
  }
  
  .top-shelf:nth-child(1){
    background-repeat: no-repeat;
    background-image: 
      linear-gradient(90deg, tan 11px, peru 2px);
    background-position:  0px 0px;
    background-size:  12px 70px;
  }
  
  .top-shelf:nth-child(2){
    background-repeat: no-repeat;
    background-image: 
      linear-gradient(140deg, transparent 40%, peru 50%, peru 45%, transparent 0px 4%),
      linear-gradient(90deg, tan 11px, peru 2px),
      linear-gradient(0deg, tan 9px, peru 2px);
    background-position:  0px 100%, 0px 0px, 0px 100%;
    background-size:  12px 10px, 12px 63px, 390px 10px;
  }
  
  .top-shelf:nth-child(3){
    background-repeat: no-repeat;
    background-image: 
      linear-gradient(120deg, transparent 40%, peru 50%, peru 45%, transparent 0px 4%),
      linear-gradient(90deg, tan 11px, peru 2px),
      linear-gradient(0deg, tan 14px, peru 2px);
    background-position:  0px 100%, 0px 0px, 0px 100%;
    background-size:  14px 15px, 12px 55px, 390px 15px;
  }
  
  .top-shelf:last-child{
    background-repeat: no-repeat;
    background-image: 
      linear-gradient(115deg, transparent 40%, peru 50%, peru 45%, transparent 0px 4%),
      linear-gradient(90deg, tan 11px, peru 2px),
      linear-gradient(0deg, tan 25px, peru 2px);
    background-position:  0px 100%, 0px 0px, 0px 100%;
    background-size:  12px 26px, 12px 45px, 390px 26px;
  }
  
  .top-shelf:nth-child(1) .poke-ball{
    margin-bottom: 1px;
  }
  
  .top-shelf:nth-child(1) .premier-ball{
    margin-bottom: 1px;
  }
  
  .top-shelf:nth-child(1) .great-ball{
    margin-bottom: 1px;
  }
  
  .top-shelf:nth-child(1) .ultra-ball{
    margin-bottom: 1px;
  }
  
  .top-shelf:nth-child(2) .safari-ball{
    margin-bottom: 2px;
  }
  
  .top-shelf:nth-child(2) .master-ball{
    margin-bottom: 2px;
  }
  
  .top-shelf:nth-child(2) .dive-ball{
    margin-bottom: 2px;
  }
  
  .top-shelf:nth-child(2) .lure-ball{
    margin-bottom: 2px;
  }
  
  .top-shelf:nth-child(3) .love-ball{
    margin-bottom: 4px;
  }
  
  .top-shelf:nth-child(3) .friend-ball{
    margin-bottom: 4px;
  }
  
  .top-shelf:nth-child(3) .repeat-ball{
    margin-bottom: 4px;
  }
  
  .top-shelf:nth-child(3) .level-ball{
    margin-bottom: 4px;
  }
  
  .top-shelf:last-child .dream-ball {
    margin-bottom: 7px;
  }
  
  .top-shelf:last-child .park-ball {
    margin-bottom: 7px;
  }
  
  .top-shelf:last-child .net-ball {
    margin-bottom: 7px;
  }
  
  .top-shelf:last-child .nest-ball {
    margin-bottom: 7px;
  }
  
  .poke-ball {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    border: 2px solid black;
    box-shadow: inset 15px 8px 8px -8px grey, -10px 5px 15px -8px black;
  }
  
  .poke-ball:before {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 30px;
    background: red;
    border-bottom: 4px solid black;
    border-radius: 50px 50px 50px 50px/ 50px 50px 50% 50%;
    box-shadow: inset 15px 8px 8px -8px #B22222;
    background-image: 
      radial-gradient(circle at top right, white 20%, red 40%);
  }
  
  .poke-ball:after {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border: 4px solid black;
    border-radius: 50px;
    margin-left: 16px;
    margin-top: 24px;
    box-shadow: inset 0px 0px 4px grey;
  }
  
  /* premier */
  
  .premier-ball {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    border: 2px solid black;
    box-shadow: inset 14px 8px 8px -8px grey, -10px 5px 15px -8px black;
  }
  
  .premier-ball:before {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 30px;
    background: white;
    border-bottom: 4px solid red;
    border-radius: 50px 50px 50px 50px/ 50px 50px 50% 50%;
    box-shadow: inset 14px 0px 8px -8px grey;
  }
  
  .premier-ball:after {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border: 4px solid red;
    border-radius: 50px;
    margin-left: 16px;
    margin-top: 24px;
    box-shadow: inset 0px 0px 4px grey;
  }
  
  /* great */
  
  .great-ball {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    border: 2px solid black;
    box-shadow: inset 14px 8px 8px -8px grey, -10px 5px 15px -8px black;
  }
  
  .great-ball:before {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 30px;
    background-color: DodgerBlue;
    border-bottom: 4px solid black;
    border-radius: 50px 50px 50px 50px/ 50px 50px 50% 50%;
    box-shadow: inset 14px 0px 8px -8px grey;
    background-repeat: no-repeat;
    background-image: 
      radial-gradient(circle at top right, white 20%, transparent 40%),
      linear-gradient(135deg,  transparent 40%, FireBrick 42%),
      linear-gradient(315deg,  transparent 40%, FireBrick 42%),
      linear-gradient(45deg,  transparent 40%, FireBrick 42%),
      linear-gradient(135deg,  transparent 40%, FireBrick 42%),
      linear-gradient(-135deg,  transparent 40%, FireBrick 42%),
      linear-gradient(-315deg,  transparent 40%, FireBrick 42%),
      linear-gradient(-45deg,  transparent 40%, FireBrick 42%),
      linear-gradient(-135deg,  transparent 40%, FireBrick 42%);
    background-position:  15px 0px, 35px -1px, 35px 10px, 29px 14px, 29px 8px, 2px -1px, 2px 10px, 12px 14px, 12px 8px; 
    background-size:  35px 35px, 12px 12px, 12px 12px, 8px 8px, 8px 8px, 12px 12px, 12px 12px, 8px 8px, 8px 8px;
  }
  
  .great-ball:after {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border: 4px solid black;
    border-radius: 50px;
    margin-left: 16px;
    margin-top: 24px;
    box-shadow: inset 0px 0px 4px grey;
  }
  
  /* Ultra */
  
  .ultra-ball {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    border: 2px solid black;
    box-shadow: inset 15px 8px 8px -8px grey, -10px 5px 15px -8px black;
  }
  
  .ultra-ball:before {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 30px;
    background-color: dimgrey;
    border-bottom: 4px solid black;
    border-radius: 50px 50px 50px 50px/ 50px 50px 50% 50%;
    box-shadow: inset 14px 0px 8px -8px black;
    background-repeat: no-repeat;
    background-image: 
      radial-gradient(circle at top right, white 20%, transparent 40%),
      linear-gradient(90deg,  transparent 40%, gold 42%),
      linear-gradient(90deg,  transparent 40%, gold 42%),
      linear-gradient(0deg,  transparent 40%, gold 42%);
    background-position:  15px 0px, 25px 0px, 0px 0px, 0px 0px; 
    background-size:  35px 35px, 18px 35px, 18px 35px, 35px 10px;
  }
  
  .ultra-ball:after {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border: 4px solid black;
    border-radius: 50px;
    margin-left: 16px;
    margin-top: 24px;
    box-shadow: inset 0px 0px 4px grey;
  }
  
  /* Safari */
  
  .safari-ball {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    border: 2px solid black;
    box-shadow: inset 15px 8px 8px -8px grey, -10px 5px 15px -8px black;
  }
  
  .safari-ball:before {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 30px;
    background-color: tan;
    border-bottom: 4px solid black;
    border-radius: 50px 50px 50px 50px/ 50px 50px 50% 50%;
    box-shadow: inset 14px 0px 8px -8px black;
  background-image: 
      radial-gradient(circle at top right, white 20%, transparent 40%), radial-gradient(ellipse at left, tan, transparent 50%),radial-gradient(ellipse at right, green, transparent 50%),radial-gradient(closest-side, forestgreen, transparent 50%),radial-gradient(ellipse at bottom, bisque, transparent 50%),radial-gradient(ellipse at top, bisque, transparent 50%),radial-gradient(ellipse at top left, green, transparent 50%),radial-gradient(ellipse at top right, peru, transparent 50%),radial-gradient(ellipse at bottom right, peru, transparent 50%),radial-gradient(ellipse at bottom left, forestgreen, transparent 50%);
  }
  
  .safari-ball:after {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border: 4px solid black;
    border-radius: 50px;
    margin-left: 16px;
    margin-top: 24px;
    box-shadow: inset 0px 0px 4px grey;
  }
  
  /* master */
  
  .master-ball {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    border: 2px solid black;
    box-shadow: inset 14px 8px 8px -8px grey, -10px 5px 15px -8px black;
  }
  
  .master-ball:before {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 30px;
    background: mediumpurple;
    border-bottom: 4px solid black;
    border-radius: 50px 50px 50px 50px/ 50px 50px 50% 50%;
    box-shadow: inset 14px 0px 8px -8px grey;
    background-repeat: no-repeat;
    background-image: 
      radial-gradient(circle at top right, white 20%, transparent 40%),
      linear-gradient( -110deg, transparent 30%, white 30%, white 60%, transparent 60%),
      linear-gradient( 110deg, transparent 30%, white 30%, white 60%, transparent 60%),
      linear-gradient( -110deg, transparent 30%, white 30%, white 60%, transparent 60%),
      linear-gradient( 110deg, transparent 30%, white 30%, white 60%, transparent 60%),
      radial-gradient(circle, hotpink 30%, transparent 40%),
      radial-gradient(circle, hotpink 30%, transparent 40%);
    background-position:  15px 0px, 18px 14px, 23px 14px, 27px 14px, 14px 14px, 23px -10px, -7px -10px; 
    background-size:  35px 35px, 7px 10px, 7px 10px, 7px 10px, 7px 10px, 35px 35px, 35px 35px;
  }
  
  .master-ball:after {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border: 4px solid black;
    border-radius: 50px;
    margin-left: 16px;
    margin-top: 24px;
    box-shadow: inset 0px 0px 4px grey;
  }
  
  /* dive */
  
  .dive-ball {
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 50px;
    border: 2px solid black;
    box-shadow: inset 14px 8px 8px -8px grey, -10px 5px 15px -8px black;
    background-repeat: no-repeat;
  background-image: 
    radial-gradient(ellipse, DodgerBlue 50%, transparent 50%),
    radial-gradient(ellipse, DodgerBlue 50%, transparent 50%);
    background-position:  -1px 10px, 28px 10px; 
    background-size:  23px 35px, 23px 35px;
  }
  
  .dive-ball:before {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 30px;
    background-color: lightcyan;
    border-bottom: 4px solid black;
    border-radius: 50px 50px 50px 50px/ 50px 50px 50% 50%;
    box-shadow: inset 14px 0px 8px -8px black;
    background-repeat: no-repeat;
    background-image: 
      radial-gradient(circle at top right, white 20%, transparent 40%),
      radial-gradient(circle, DodgerBlue 50%, transparent 50%),
      radial-gradient(circle, DodgerBlue 50%, transparent 50%),
      radial-gradient(circle, DodgerBlue 50%, transparent 50%),
      radial-gradient(circle, DodgerBlue 50%, transparent 50%);
    background-position:  15px 0px, 13px -12px, -5px 11px, 32px 11px, 8px 8px; 
    background-size:  35px 35px, 25px 20px, 25px 25px, 25px 25px, 35px 35px;
  }
  
  .dive-ball:after {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border: 4px solid black;
    border-radius: 50px;
    margin-left: 16px;
    margin-top: 24px;
    box-shadow: inset 0px 0px 4px grey;
  }
  
  /* lure */
  
  .lure-ball {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    border: 2px solid black;
    box-shadow: inset 14px 8px 8px -8px grey, -10px 5px 15px -8px black;
  }
  
  .lure-ball:before {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 30px;
    background: Teal;
    border-bottom: 4px solid black;
    border-radius: 50px 50px 50px 50px/ 50px 50px 50% 50%;
    box-shadow: inset 14px 0px 8px -8px grey;
    background-repeat: no-repeat;
    background-image: 
      radial-gradient(circle at top right, white 20%, transparent 40%),
      linear-gradient( -90deg, transparent 30%, gold 30%, gold 60%, transparent 60% ),
      linear-gradient( -90deg, transparent 30%, gold 30%, gold 60%, transparent 60% ),
      linear-gradient( -90deg, transparent 30%, gold 30%, gold 60%, transparent 60% ),
      conic-gradient( from 145deg, orangered 0, orangered 20%, transparent 20% ),
      conic-gradient( from -37deg, orangered 0, orangered 20%, transparent 20% );
    background-position:  15px 0px, 21px 9px, 17px 9px, 26px 9px, 3px -22px, 3px 13px;
    background-size:  35px 35px, 7px 10px, 7px 10px, 7px 10px, 45px 35px, 45px 35px;
  }
  
  .lure-ball:after {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border: 4px solid black;
    border-radius: 50px;
    margin-left: 16px;
    margin-top: 24px;
    box-shadow: inset 0px 0px 4px grey;
  }
  
  /* love */
  
  .love-ball {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    border: 2px solid black;
    box-shadow: inset 14px 8px 8px -8px grey, -10px 5px 15px -8px black;
  }
  
  .love-ball:before {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 30px;
    background: hotpink;
    border-bottom: 4px solid black;
    border-radius: 50px 50px 50px 50px/ 50px 50px 50% 50%;
    box-shadow: inset 14px 0px 8px -8px grey;
    background-repeat: no-repeat;
    background-image: 
      radial-gradient(circle at top right, white 20%, transparent 40%),
      linear-gradient(90deg, white, white),
        linear-gradient( -135deg, pink 50%, white 10%, transparent 55%),
      linear-gradient( -45deg, transparent 45%, white 10%, pink 50%),
    radial-gradient( circle at 50% 100%, pink 50%, white 10%, transparent 60%),
    radial-gradient( circle at 50% 100%, pink 50%, white 10%, transparent 60%);
    background-position:  15px 0px, 23px 18px, 12px 18px, 24px 18px, 12px 6px, 24px 6px; 
    background-size:  35px 35px, 3px 5px, 12px 12px, 12px 12px, 12px 12px, 12px 12px;
  }
  
  .love-ball:after {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border: 4px solid black;
    border-radius: 50px;
    margin-left: 16px;
    margin-top: 24px;
    box-shadow: inset 0px 0px 4px grey;
  }
  
  /* friend */
  
  .friend-ball {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    border: 2px solid black;
    box-shadow: inset 14px 8px 8px -8px grey, -10px 5px 15px -8px black;
  }
  
  .friend-ball:before {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 30px;
    background: forestgreen;
    border-bottom: 4px solid black;
    border-radius: 50px 50px 50px 50px/ 50px 50px 50% 50%;
    box-shadow: inset 14px 0px 8px -8px grey;
    background-repeat: no-repeat;
    background-image: 
      radial-gradient(circle at top right, white 20%, transparent 40%),
      conic-gradient( from 270deg, transparent 25deg, red 25deg, red 65deg, transparent 65deg),
      conic-gradient( from 270deg, transparent 25deg, red 25deg, red 65deg, transparent 65deg),
      conic-gradient( from 360deg, transparent 25deg, red 25deg, red 65deg, transparent 65deg),
      conic-gradient( from 360deg, transparent 25deg, red 25deg, red 65deg, transparent 65deg),
      radial-gradient(circle, gold 30%, transparent 20%);
    background-position:  15px 0px, 8px 20px, 14px 14px, 30px 20px, 24px 14px, 18px 8px; 
    background-size:  35px 35px, 12px 12px, 12px 12px, 12px 12px, 12px 12px, 13px 13px;
  }
  
  .friend-ball:after {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border: 4px solid black;
    border-radius: 50px;
    margin-left: 16px;
    margin-top: 24px;
    box-shadow: inset 0px 0px 4px grey;
  }
  
  /* repeat */
  
  .repeat-ball {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    border: 2px solid black;
    box-shadow: inset 14px 8px 8px -8px grey, -10px 5px 15px -8px black;
  }
  
  .repeat-ball:before {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 30px;
    background: red;
    border-bottom: 4px solid black;
    border-radius: 50px 50px 50px 50px/ 50px 50px 50% 50%;
    box-shadow: inset 14px 0px 8px -8px grey;
    background-repeat: no-repeat;
    background-image: 
      radial-gradient(circle at top right, white 20%, transparent 40%),
      radial-gradient(ellipse, black 0% 30%, gold 31% 40%, transparent 51% 100%), 
      radial-gradient(ellipse, black 0% 30%, gold 31% 40%, transparent 51% 100%),
      radial-gradient(ellipse, gold 0% 30%, gold 31% 40%, transparent 51% 100%);
    background-position:  15px 0px, 7px -20px, 9px -1px, 7px 14px;
    background-size:  35px 35px, 35px 35px, 30px 30px, 35px 35px;
  }
  
  .repeat-ball:after {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border: 4px solid black;
    border-radius: 50px;
    margin-left: 16px;
    margin-top: 24px;
    box-shadow: inset 0px 0px 4px grey;
  }
  
  /* level */
  
  .level-ball {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    border: 2px solid black;
    box-shadow: inset 14px 8px 8px -8px grey, -10px 5px 15px -8px black;
  }
  
  .level-ball:before {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 30px;
    background: orange;
    border-bottom: 4px solid black;
    border-radius: 50px 50px 50px 50px/ 50px 50px 50% 50%;
    box-shadow: inset 14px 0px 8px -8px grey;
    background-repeat: no-repeat;
    background-image: 
      radial-gradient(circle at top right, white 20%, transparent 40%),
      linear-gradient( -110deg, transparent 30%, orangered 30%, orangered 60%, transparent 60%),
      linear-gradient( 110deg, transparent 30%, orangered 30%, orangered 60%, transparent 60%),
      radial-gradient(ellipse, black 0% 50%, transparent 51% 100%);
    background-position:  15px 0px, 19px 5px, 25px 5px, -2px -20px;
    background-size:  35px 35px, 7px 13px, 7px 13px, 55px 35px;
  }
  
  .level-ball:after {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border: 4px solid black;
    border-radius: 50px;
    margin-left: 16px;
    margin-top: 24px;
    box-shadow: inset 0px 0px 4px grey;
  }
  
  /* dream */
  
  .dream-ball {
    width: 50px;
    height: 50px;
    background-color: hotpink;
    border-radius: 50px;
    border: 2px solid black;
    box-shadow: inset 14px 8px 8px -8px grey, -10px 5px 15px -8px black;
    background-repeat: no-repeat;
    background-image: 
      radial-gradient(circle at bottom left, mediumpurple 10%, transparent 30%),
      radial-gradient(circle at bottom right, mediumpurple 10%, transparent 30%),
      radial-gradient(circle at bottom center, mediumpurple 30%, transparent 30%);
  }
  
  .dream-ball:before {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 30px;
    background: hotpink;
    border-bottom: 4px solid black;
    border-radius: 50px 50px 50px 50px/ 50px 50px 50% 50%;
    box-shadow: inset 14px 0px 8px -8px grey;
    background-image: 
      radial-gradient(circle at top right, white 20%, transparent 40%),
      radial-gradient(circle at center, mediumvioletred 30%, transparent 30%);
  }
  
  .dream-ball:after {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border: 4px solid black;
    border-radius: 50px;
    margin-left: 16px;
    margin-top: 24px;
    box-shadow: inset 0px 0px 4px grey;
  }
  
  /* park */
  
  .park-ball {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    border: 2px solid black;
    box-shadow: inset 14px 8px 8px -8px grey, -10px 5px 15px -8px black;
  }
  
  .park-ball:before {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 30px;
    background: gold;
    border-bottom: 4px solid blue;
    border-radius: 50px 50px 50px 50px/ 50px 50px 50% 50%;
    box-shadow: inset 14px 0px 8px -8px grey;
    background-image: 
      radial-gradient(circle at top right, white 20%, transparent 40%);
  }
  
  .park-ball:after {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background: gold;
    border: 4px solid blue;
    border-radius: 50px;
    margin-left: 16px;
    margin-top: 24px;
    box-shadow: inset 0px 0px 4px goldenrod;
  }
  
  /* net */
  
  .net-ball {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    border: 2px solid black;
    box-shadow: inset 14px 8px 8px -8px grey, -10px 5px 15px -8px black;
  }
  
  .net-ball:before {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 30px;
    background: forestgreen;
    border-bottom: 4px solid black;
    border-radius: 50px 50px 50px 50px/ 50px 50px 50% 50%;
    box-shadow: inset 14px 0px 8px -8px grey;
    background-image: 
      radial-gradient(circle at top right, white 20%, transparent 40%),
      repeating-linear-gradient(135deg, black 0% 4%, transparent 5% 31%), 
      repeating-linear-gradient(45deg, black 0% 4%, transparent 5% 31%),
      repeating-linear-gradient(45deg, dimgrey 0% 4%, DarkCyan 5% 31%), 
      repeating-linear-gradient(135deg, dimgrey 0% 4%, DarkCyan 5% 31%);
  }
  
  .net-ball:after {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border: 4px solid black;
    border-radius: 50px;
    margin-left: 16px;
    margin-top: 24px;
    box-shadow: inset 0px 0px 4px grey;
  }
  
  /* nest */
  
  .nest-ball {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    border: 2px solid black;
    box-shadow: inset 14px 8px 8px -8px grey, -10px 5px 15px -8px black;
  }
  
  .nest-ball:before {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 30px;
    background: forestgreen;
    border-bottom: 4px solid black;
    border-radius: 50px 50px 50px 50px/ 50px 50px 50% 50%;
    box-shadow: inset 14px 0px 8px -8px grey;
    background-repeat: no-repeat;
    background-image: 
      radial-gradient(circle at top right, white 20%, transparent 40%),
      radial-gradient(ellipse, forestgreen 0% 50%, transparent 51% 52%), 
      radial-gradient(ellipse, sandybrown 0% 50%, transparent 51% 52%),
      radial-gradient(ellipse, forestgreen 0% 50%, transparent 51% 52%), 
      radial-gradient(ellipse, sandybrown 0% 50%, transparent 51% 52%);
    background-position:  15px 0px, -7px -30px, -5px -23px, -6px -15px, -6px -7px; 
    background-size:  35px 35px, 65px 45px, 65px 45px, 65px 45px, 65px 45px;
  }
  
  .nest-ball:after {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border: 4px solid black;
    border-radius: 50px;
    margin-left: 16px;
    margin-top: 24px;
    box-shadow: inset 0px 0px 4px grey;
  }
  
  /* potion section */
  
  .potionSection {
    background-image: radial-gradient(circle, 
      rgba(63,94,251,1) 0%, 
      rgba(114,88,212,1) 27%, 
      rgba(161,82,176,1) 52%, 
      rgba(63,94,251,1) 74%, 
      rgba(252,70,205,1) 100%);
    width: 50%;
    height: 500px;
  }
  
  .potionFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 500px;
  }
  
  .potion {
    width: 80px;
    height: 250px;
    background: rgb(211, 211, 211, .3);
    border-radius: 0px 0px 40px 40px;
    border: 1px solid lightgrey;
    border-top: 0px;
    background-repeat: no-repeat;
    background-image: 
      radial-gradient(circle, rgba(255,255,255, .4) 0% 40%, white 45% 50%, transparent 51% 52%),
      radial-gradient(circle, rgba(255,255,255, .4) 0% 40%, white 45% 50%, transparent 51% 52%),
      radial-gradient(circle, rgba(255,255,255, .4) 0% 40%, white 45% 50%, transparent 51% 52%),
      radial-gradient(circle, rgba(255,255,255, .4) 0% 40%, white 45% 50%, transparent 51% 52%),
      radial-gradient(circle, rgba(255,255,255, .4) 0% 40%, white 45% 50%, transparent 51% 52%),
      radial-gradient(circle, rgba(255,255,255, .4) 0% 40%, white 45% 50%, transparent 51% 52%),
      radial-gradient(circle, rgba(255,255,255, .4) 0% 40%, white 45% 50%, transparent 51% 52%),
      radial-gradient(circle, rgba(255,255,255, .4) 0% 40%, white 45% 50%, transparent 51% 52%),
      linear-gradient(0deg, #52b080 0%, #82d458 27%, #3ffb71 52%, #46fc4f 84%, transparent 85%, transparent 100%);
    background-position: 5px 50px, 55px 70px, 10px 130px, 35px 220px, 45px 185px, 3px 180px, 50px 110px, 50px 15px, 0px 0px; 
    background-size:  18px 18px, 20px 10px, 15px 20px, 10px 15px, 20px 20px, 20px 20px, 15px 17px, 15px 17px, 80px 250px;
  }
  
  .potion:before {
    content: "";
    display: block;
    position: absolute;
    width: 80px;
    height: 250px;
    background-repeat: no-repeat;
    background-image: 
      linear-gradient(0deg, rgba(82,176,128,0.5) 0%, rgba(130,212,88,0.5) 27%, rgba(63,251,113,0.35) 52%, rgba(63,251,123,0.25) 84%, transparent 85%, transparent 100%),
      radial-gradient(circle, rgba(255,255,255, .4) 0% 50%, transparent 51% 52%),
      conic-gradient( from -37deg, black 0, black 20%, transparent 20%),
      conic-gradient( from 145deg, black 0, black 20%, transparent 20%),
      radial-gradient(circle, red 0% 29%, transparent 30% 52%),
      radial-gradient(circle, white 30% 50%, transparent 51% 52%),
      radial-gradient(circle, rgba(255,255,255, .4) 0% 50%, transparent 51% 52%),
      radial-gradient(circle, black 0% 10%, mediumpurple 11% 29%, transparent 35% 50%),
      radial-gradient(circle, white 0% 50%, transparent 51% 52%),
      radial-gradient(circle, rgba(255,255,255, .4) 0% 50%, transparent 51% 52%),
      radial-gradient(circle, black 0% 12%, firebrick 13% 29%, white 35% 50%, transparent 51% 52%);
    background-position: 0px 0px, 48px 150px, 56px 158px, 56px 139px, 23px 127px, 19px 130px, 11px 201px, -7px 185px, -3px 180px, 14px 105px, -6px 85px; 
    background-size:   80px 250px, 13px 13px, 7px 25px, 7px 25px, 70px 70px, 65px 65px, 12px 12px, 55px 55px, 55px 55px, 13px 13px, 65px 65px;
    border-radius: 0px 0px 40px 40px;
  }
  
  .potion:after {
    content: "";
    display: block;
    position: absolute;
    width: 180px;
    height: 270px;
    margin: -30px;
    background-repeat: no-repeat;
    background-image: 
      radial-gradient(rgb(211, 211, 211, .3) 40%, lightgrey 47% 50%, transparent 51% 52%),
      radial-gradient(transparent 40%, lightgrey 47% 50%, transparent 51% 52%),
      radial-gradient(transparent 40%, lightgrey 47% 50%, transparent 51% 52%);
    background-position: 5px 15px, 5px 13px, 5px 17px;
    background-size: 130px 25px, 130px 25px, 130px 25px;
  }
  
  /* flag section */
  
  .flagSection {
    width: 50%;
    height: 500px;
    background-color: darkolivegreen;
  }
  
  .flagFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 500px;
  }
  
  .canadaFlag {
    height: 225px;
    width: 450px;
    background: rgb(211, 211, 211, .3);
    border-radius: 15px;
    background-image: 
      linear-gradient( 90deg, red 0% 25%, white 25%, white 75%, red 75% 100%);
  }
  
  .canadaFlag:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    max-width: 450px;
    height: 225px;
    background-repeat: no-repeat;
    background-image: 
      conic-gradient( from 145deg, red 0, red 20%, transparent 20% ),
      linear-gradient( -135deg, red 50%, transparent 50% ),
      linear-gradient( 135deg, red 50%, transparent 50% ),
      linear-gradient( 45deg, red 50%, transparent 50% ),
      linear-gradient( -45deg, red 50%, transparent 50% ),
      linear-gradient( 90deg, red, red),
      conic-gradient( from 90deg, transparent 25deg, red 25deg, red 65deg, transparent 65deg ),
      conic-gradient( from 180deg, transparent 25deg, red 25deg, red 65deg, transparent 65deg ),
      linear-gradient( 105deg, transparent 30%, red 30%, red 70%, transparent 70% ),
      linear-gradient( -105deg, transparent 30%, red 30%, red 70%, transparent 70% ),
      linear-gradient( 90deg, red, red),
      conic-gradient( from 155deg at top left, red 0, red 20%, transparent 20% ),
      conic-gradient( from 130deg at top right, red 0, red 20%, transparent 20% );
    background-position: 50% 10px, 34% 110px, 65% 110px, 44% 70px, 55% 70px, 50% 155px, 27% 30px, 72% 30px, 52% 50px, 47% 50px, 50% 100px, 55.5% 20px, 43.3% 20px;
    background-size: 250px 150px, 50px 50px, 50px 50px, 50px 50px, 50px 50px, 5px 50px, 100px 100px, 100px 100px, 55px 55px, 55px 55px, 20% 50px, 50px 50px, 50px 50px;
  }
  
  /* ninjaHeadband */
  
  .ninjaHeadbandSection {
    width: 50%;
    height: 500px;
    background-color: lightpink;
  }
  
  .ninjaHeadbandFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 500px;
  }
  
  .ninjaHeadband {
    width: 100%;
    max-width: 450px;
    height: 200px;
    background: silver;
    border-radius: 15px;
    background-image:
    linear-gradient( -110deg, transparent 25%, lightgrey 30%, lightgrey 45%, transparent 52% );
    background-position: -150px 0px;
  }
  
  .ninjaHeadband:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    max-width: 450px;
    height: 250px;
    background-repeat: no-repeat;
    background-image: 
      radial-gradient( rgb(128,128,128, 0.3) 40%, black 40% 50%, transparent 50%),
      radial-gradient( rgb(128,128,128, 0.3) 40%, black 40% 50%, transparent 50%),
      radial-gradient( rgb(128,128,128, 0.3) 40%, black 40% 50%, transparent 50%),
      radial-gradient( rgb(128,128,128, 0.3) 40%, black 40% 50%, transparent 50%),
      radial-gradient( rgb(128,128,128, 0.3) 40%, black 40% 50%, transparent 50%),
      radial-gradient( rgb(128,128,128, 0.3) 40%, black 40% 50%, transparent 50%);
    background-size: 40px 40px, 40px 40px, 40px 40px, 40px 40px, 40px 40px, 40px 40px;
    background-position: 10px 10px, 10px 150px, 10px 80px, 98% 10px, 98% 80px, 98% 150px;
  }
  
  .ninjaHeadband:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    max-width: 450px;
    height: 250px;
    background-repeat: no-repeat;
    background-image: 
      linear-gradient( 0deg, transparent 0%, black 15%, slategrey 25% 75%, black 85%, transparent 100%),
      linear-gradient( 90deg, black, black),
      linear-gradient( 90deg, black, black),
      linear-gradient( 90deg, black, black),
      linear-gradient( 90deg, black, black);
    background-size: 50% 10px, 7px 100px, 7px 100px, 7px 100px, 7px 100px;
    background-position: 50% 100px, 35% 55px, 45% 55px, 55% 55px, 65% 55px;
  }
  
  /* trickTreat */
  
  .trickTreatSection {
    width: 50%;
    height: 500px;
    background-color: MediumOrchid;
  }
  
  .trickTreatFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 500px;
  }
  
  .trickTreat {
    width: 230px;
    height: 200px;
    background: darkorange;
    border-radius: 120px 120px 100px 100px;
  }
  
  .trickTreat:before {
    content: "";
    display: block;
    position: absolute;
    width: 230px;
    height: 200px;
    background: darkorange;
    border-radius: 120px 120px 100px 100px;
    background-repeat: no-repeat;
    background-image: 
      radial-gradient( ellipse at 100% 0%, transparent 35%, dimgrey 35% 40%, transparent 40% ),
      radial-gradient( ellipse at 0% 100%, transparent 35%, dimgrey 35% 40%, transparent 40% ),
      conic-gradient( from 145deg, darkorange 0, darkorange 20%, transparent 20% ),
      conic-gradient( from -30deg, darkorange 0, darkorange 20%, transparent 20% ),
      conic-gradient( from -30deg, darkorange 0, darkorange 20%, transparent 20% ),
      radial-gradient( ellipse at 50% 0%, black 40%, transparent 40% ),
      radial-gradient(black 50%, transparent 50%),
      radial-gradient(black 50%, transparent 50%),
      radial-gradient( ellipse, black 40%, transparent 40% ),
      conic-gradient( from 145deg, black 0, black 20%, transparent 20%),
      radial-gradient( ellipse at 100% 50%, transparent 35%, chocolate 35% 40%, transparent 40% ),
      radial-gradient( ellipse at 0% 50%, transparent 35%, chocolate 35% 40%, transparent 40% ),
      linear-gradient(90deg, chocolate, chocolate),
      linear-gradient(90deg, chocolate, chocolate);
    background-size: 70px 25px, 70px 25px, 70px 70px, 40px 40px, 40px 40px, 170px 70px, 50px 50px, 50px 50px, 210px 70px, 15px 50px, 55px 300px, 55px 300px, 5px 35px, 5px 35px;
    background-position: 35px 18px, 120px -4px, 80px 120px, 70px 125px, 115px 125px, 30px 130px, 55px 65px, 125px 65px, 10px -16px, 110px 70px, 10px -40px, 168px -40px, 113px 25px, 113px 165px;
  }
  
  .trickTreat:after {
    content: "";
    display: block;
    position: absolute;
    width: 230px;
    height: 200px;
    margin-top: -90px;
    background-repeat: no-repeat;
    background-image: 
      radial-gradient( ellipse at 50% 100%, transparent 35%, darkorange 35% 40%, transparent 40% );
    background-size: 240px 150px;
    background-position: -5px -40px;
  }
  
  /* sharingan */
  
  .sharinganSection {
    width: 50%;
    height: 500px;
    background-color: silver;
  }
  
  .sharinganFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 500px;
  }
  
  .sharingan {
    width: 200px;
    height: 200px;
    background: black;
    border-radius: 250px;
  }
  
  .sharingan:before {
    content: "";
    display: block;
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 250px;
    background-repeat: no-repeat;
    background-image: 
      radial-gradient(circle, rgba(193,26,26,1) 50%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 70%, transparent 70%),
      radial-gradient(circle, rgba(193,26,26,1) 50%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 70%, transparent 70%),
      radial-gradient(circle, rgba(193,26,26,1) 50%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 70%, transparent 70%),
      radial-gradient(circle, transparent 45%, rgba(0,0,0,1) 45%, rgba(0,0,0,1) 50%, transparent 50%),
      radial-gradient(black 50%, transparent 50%),
      radial-gradient(circle, rgba(128,3,3,1) 0%, rgba(150,8,8,1) 5%, rgba(172,11,11,1) 16%, rgba(193,26,26,1) 25%, rgba(193,26,26,1) 40%, rgba(172,11,11,1) 50%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 100%);
    background-size: 35px 35px, 35px 35px, 35px 35px, 200px 200px, 50px 50px, 250px 250px;
    background-position: 135px 120px, 80px 18px, 30px 120px, 0px 0px, 75px 75px, -25px -25px;
  }
  
  /* anbu */
  
  .anbuSection {
    width: 50%;
    height: 500px;
    background-color: darkslateblue;
  }
  
  .anbuFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 500px;
  }
  
  .anbu {
    width: 250px;
    height: 250px;
    background-image:
      radial-gradient(circle, crimson 70%, transparent 70% 100%);
  }
  
  .anbu:before {
    content: "";
    display: block;
    position: absolute;
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-image:
      radial-gradient(black 40%, grey 45%, transparent 50%),
      linear-gradient(90deg, black, black),
      radial-gradient(crimson 40%, lightgrey 45%, transparent 50%),
      radial-gradient(crimson 40%, lightgrey 45%, transparent 45%),
      radial-gradient(crimson 40%, lightgrey 45%, transparent 50%),
      linear-gradient( 155deg, transparent 50%, crimson 50% 55%, transparent 45%),
      linear-gradient( 165deg, transparent 50%, crimson 50% 55%, transparent 45%),
      linear-gradient( -165deg, transparent 50%, crimson 50% 55%, transparent 45%),
      linear-gradient( -155deg, transparent 50%, crimson 50% 55%, transparent 45%),
      linear-gradient( -150deg, transparent 20%, yellow 25% 30%, gold 30% 70%, yellow 70% 75%, transparent 80% ),
      linear-gradient( 150deg, transparent 20%, yellow 25% 30%, gold 30% 70%, yellow 70% 75%, transparent 80% ),
      linear-gradient( -150deg, transparent 30%, darkslategrey 30% 70%, transparent 70% ),
      linear-gradient( 150deg, transparent 30%, darkslategrey 30% 70%, transparent 70% ),
      linear-gradient( 150deg, transparent 30%, crimson 30% 70%, transparent 70% ),
      linear-gradient( -150deg, transparent 30%, crimson 30% 70%, transparent 70% ),
      radial-gradient(ellipse, white 40%, lightgrey 48%, transparent 48%, transparent 100%),
      conic-gradient( from 120deg, crimson 0% 20%, transparent 20%),
      conic-gradient( from 170deg, crimson 0% 20%, transparent 20%),
      conic-gradient( from 120deg, lightgrey 0% 1%, white 5% 15%, lightgrey 19%, transparent 20%),
      conic-gradient( from 170deg, lightgrey 0% 1%, white 5% 15%, lightgrey 19%, transparent 20%),
      linear-gradient( 45deg, transparent 40%, crimson 40% 60%, transparent 60% ),
      linear-gradient( 45deg, transparent 36%, black 36% 64%, transparent 60% ),
      linear-gradient( 131deg, transparent 30%, lightsteelblue 35%, dimgrey 45% 65%, darkslategrey 70%, transparent 45%),
      linear-gradient( 131deg, transparent 54%, black 54% 55%, transparent 55%),
      linear-gradient( 131deg, transparent 50%, grey 50%, white 55%, transparent 45%);
    background-size: 40px 25px, 2px 20px, 15px 50px, 20px 90px, 15px 50px, 30px 100px, 30px 100px, 30px 100px, 30px 100px, 20px 10px, 20px 10px, 40px 30px, 40px 30px, 45px 30px, 45px 30px, 220px 300px, 50px 100px, 50px 100px, 100px 150px, 100px 150px, 50px 50px, 55px 55px, 50px 50px, 200px 200px, 270px 350px;
    background-position: 50% 68%, 50% 75%, 40% 25%, 50% 20%, 60% 25%, 78% 60%, 80% 70%, 20% 70%, 22% 60%, 37% 50%, 63% 50%, 35% 50%, 65% 50%, 67% 47.5%, 33% 47.5%, 50% 50%, 27% -18%, 73% -18%, 15% -70%, 85% -70%, 90% 10%, 91% 9%, 97% 0%, 50% 25%, 100% 50%;
  }
  
  .anbu:after{
    content: "";
    display: block;
    position: absolute;
    width: 300px;
    height: 300px;
    margin: -40px -40px -10px -10px;
    background-repeat: no-repeat;
    background-image: 
      linear-gradient( 45deg, transparent 50%, black 50% 60%, transparent 60%),
      conic-gradient( from 315deg, crimson 180deg, black 180deg 185deg, transparent 185deg 350deg, black 350deg 360deg),
      linear-gradient( 70deg, transparent 30%, Gainsboro 30% 75%, transparent 75%),
      linear-gradient( 70deg, transparent 30%, Gainsboro 30% 75%, transparent 75%),
      linear-gradient( 70deg, transparent 30%, Gainsboro 30% 75%, transparent 75%),
      linear-gradient( 70deg, transparent 30%, Gainsboro 30% 75%, transparent 75%),
      linear-gradient( 131deg, transparent 30%, lightsteelblue 35%, dimgrey 45% 65%, darkslategrey 70%, transparent 45%),
      radial-gradient( crimson 50%, black 50% 58%, transparent 58% 60%);
      background-size: 28px 28px, 20px 20px, 20px 10px, 20px 10px, 20px 10px, 20px 10px, 50px 50px, 38px 38px;
      background-position: 91.6% 5%, 91.5% 5.4%, 88.5% 10%, 85% 14.5%, 81% 19%, 77% 23.5%, 90% 6%, 95% 1%;
  }

  /* strawHat */
  
  .strawHatSection {
    width: 50%;
    height: 500px;
    background-color: grey;
  }
  
  .strawHatFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 500px;
  }
  
  .strawHat {
    width: 250px;
    height: 250px;
  }
  
  .strawHat:before {
    content: "";
    display: block;
    position: absolute;
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-image:
      radial-gradient(ellipse at 50% 100%, white 38%, black 38% 43%, transparent 43%),
      radial-gradient(ellipse at 50% 100%, gold  40%, black 40% 42%, transparent 43%),
      radial-gradient(circle, transparent 45%, black 45%, black 47%, transparent 47%, transparent 100%),
      radial-gradient(ellipse at 0% 50%, gold 40% 45%,black 45% 50%, transparent 50%),
      radial-gradient(ellipse at 100% 50%, gold 40% 45%,black 45% 50%, transparent 50%),
      radial-gradient(ellipse at 50% 100%, red 38%, black 38% 43%, transparent 43%),
      radial-gradient(ellipse at 50% 100%, gold 40%, transparent 40%),
      radial-gradient(black 50%, transparent 50%),
      radial-gradient(black 50%, transparent 50%),
      radial-gradient(black 50%, transparent 50%),
      radial-gradient(circle, white 45%, black 45%, black 47%, transparent 47%, transparent 100%),
      linear-gradient(black 50%, black 50%),
      linear-gradient(black 50%, black 50%),
      linear-gradient(black 50%, black 50%),
      linear-gradient( 135deg, transparent 30%, black 30%, black 35%, white 35%, white 65%, black 65%, black 70%, transparent 70%),
      linear-gradient( -135deg, transparent 30%, black 30%, black 35%, white 35%, white 65%, black 65%, black 70%, transparent 70%),
      linear-gradient( 135deg, transparent 30%, black 30%, black 35%, white 35%, white 65%, black 65%, black 70%, transparent 70%),
      linear-gradient( -135deg, transparent 30%, black 30%, black 35%, white 35%, white 65%, black 65%, black 70%, transparent 70%),
      radial-gradient(circle, white 40%, black 40%, black 50%, transparent 50%, transparent 100%),
      radial-gradient(circle, white 40%, black 40%, black 50%, transparent 50%, transparent 100%),
      radial-gradient(circle, white 40%, black 40%, black 50%, transparent 50%, transparent 100%),
      radial-gradient(circle, white 40%, black 40%, black 50%, transparent 50%, transparent 100%),
      radial-gradient(circle, white 40%, black 40%, black 50%, transparent 50%, transparent 100%),
      radial-gradient(circle, white 40%, black 40%, black 50%, transparent 50%, transparent 100%),
      radial-gradient(circle, white 40%, black 40%, black 50%, transparent 50%, transparent 100%),
      radial-gradient(circle, white 40%, black 40%, black 50%, transparent 50%, transparent 100%),
      radial-gradient(ellipse, white 45%, black 45%, black 50%, transparent 50%, transparent 100%),
      radial-gradient(ellipse, white 45%, black 45%, black 50%, transparent 50%, transparent 100%),
      radial-gradient(ellipse, white 45%, black 45%, black 50%, transparent 50%, transparent 100%);
    background-size: 275px 20px, 350px 25px, 250px 250px, 40px 30px, 40px 30px, 255px 25px, 255px 100px, 70px 70px, 70px 70px, 30px 30px, 250px 250px, 2px 25px, 2px 25px, 2px 25px, 50px 50px, 50px 50px, 50px 50px, 50px 50px, 50px 50px, 50px 50px, 50px 50px, 50px 50px, 50px 50px, 50px 50px, 50px 50px, 50px 50px, 120px 60px, 120px 60px, 120px 100px;
    background-position: 50% 37.5%, 50% 34%, 0% 0%, 97% 41%, 3% 41%, 50% 30%, 50% 1%, 30% 60%, 70% 60%, 50% 75%, 100% 100%, 50% 92%, 60% 90%, 41% 90%, 13% 86%, 13% 13%, 86% 13%, 86% 86%, 5% 100%, 0% 90%, 0% 5%, 10% 0%, 100% 5%, 90% 0%, 95% 100%, 100% 90%, 50% 90%, 50% 95%, 50% 110%;
  }
  
  /* Minecraft Totem */
  
  .totemSection {
    width: 50%;
    height: 500px;
    background-color: Teal;
  }
  
  .totemFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 500px;
  }
  
  .minecraftTotem {
    width: 250px;
    height: 250px;
  }
  
  .minecraftTotem:before {
    content: "";
    display: block;
    position: absolute;
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-image:
      linear-gradient( to right, transparent 0px 20px, #00BB46 20px 30px, transparent 30px 250px),
      linear-gradient( to right, transparent 0px 10px, #00BB46 10px 40px, transparent 40px 140px, #41E67F 140px 150px, transparent 150px 220px, #F8EEA5 220px 230px, transparent 230px 250px),
      linear-gradient( to right, #00BB46 0px 50px, transparent 50px 130px, #41E67F 130px 160px, transparent 160px 210px, #F8EEA5 210px 240px, transparent 240px 250px),
      linear-gradient( to right, transparent 0px 10px, #00BB46 10px 40px, transparent 40px 140px, #41E67F 140px 150px, transparent 150px 220px, #F8EEA5 220px 230px, transparent 230px 250px),
      linear-gradient( to right, transparent 0px 20px, #00BB46 20px 30px, transparent 30px 250px),
      linear-gradient( to right, transparent 0px 100px, #A05B23 100px 160px, transparent 160px 250px),
      linear-gradient( to right, transparent 0px 90px, #A05B23 90px 100px, #EADB84 100px 160px, #A05B23 160px 170px, transparent 170px 210px, #00BB46 210px 220px, transparent 220px 250px),
      linear-gradient( to right, transparent 0px 50px, #41E67F 50px 60px, transparent 60px 90px, #85400F 90px 100px, #EADB84 100px 110px,  #FDFBEE 110px 130px, #F8EEA5 130px 150px, #EADB84 150px 160px, #85400F 160px 170px, transparent 170px 200px, #00BB46 200px 230px, transparent 230px 250px),
      linear-gradient( to right, transparent 0px 40px, #41E67F 40px 70px, transparent 70px 90px, #85400F 90px 100px, #D1A75D 100px 120px,  #F8EEA5 120px 130px, #EADB84 130px 140px, #D1A75D 140px 160px, #85400F 160px 170px, transparent 170px 190px, #00BB46 190px 240px, transparent 240px 250px),
      linear-gradient( to right, transparent 0px 50px, #41E67F 50px 60px, transparent 60px 90px, #85400F 90px 100px, #FDFBEE 100px 110px, #41E67F 110px 120px,  #D1A75D 120px 140px, #FDFBEE 140px 150px, #41E67F 150px 160px, #85400F 160px 170px, transparent 170px 200px, #00BB46 200px 230px, transparent 230px 250px),
      linear-gradient( to right, transparent 0px 90px, #85400F 90px 100px, #41E67F 100px 110px, #00BB46 110px 120px, #FDFBEE 120px 130px, #F8EEA5 130px 140px, #41E67F 140px 150px, #00BB46 150px 160px, #85400F 160px 170px, transparent 170px 210px, #00BB46 210px 220px, transparent 220px 250px),
      linear-gradient( to right, transparent 0px 90px, #85400F 90px 100px, #C58742 100px 110px, #D1A75D 110px 120px, #F8EEA5 120px 130px, #EADB84 130px 140px, #D1A75D 140px 150px, #C58742 150px 160px, #85400F 160px 170px, transparent 170px 250px),
      linear-gradient( to right, transparent 0px 20px, #F8EEA5 20px 30px, transparent 30px 60px, #A05B23 60px 100px, #85400F 100px 110px, #C58742 110px 120px, #EADB84 120px 130px, #D1A75D 130px 140px, #C58742 140px 150px, #85400F 150px 160px, #A05B23 160px 200px, transparent 200px 250px),
      linear-gradient( to right, transparent 0px 10px, #F8EEA5 10px 40px, transparent 30px 60px, #A05B23 60px 70px, #EADB84 70px 80px, #D1A75D 80px 90px, #85400F 90px 100px, #EADB84 100px 110px, #D1A75D 110px 120px, #C58742 120px 140px, #D1A75D 140px 150px, #C58742 150px 160px, #85400F 160px 170px, #C58742 170px 180px, #D1A75D 180px 190px, #85400F 190px 200px, transparent 200px 250px),
      linear-gradient( to right, transparent 0px 20px, #F8EEA5 20px 30px, transparent 30px 70px, #85400F 70px 90px, #A05B23 90px 100px, #F8EEA5 100px 110px, #FDFBEE 110px 120px, #F8EEA5 120px 130px, #EADB84 130px 150px, #D1A75D 150px 160px, #A05B23 160px 170px, #85400F 170px 190px, transparent 190px 250px),
      linear-gradient( to right, transparent 0px 90px, #A05B23 90px 100px, #EADB84 100px 110px,  #D1A75D 110px 150px, #C58742 150px 160px, #85400F 160px 170px, transparent 170px 210px, #F8EEA5 210px 220px, transparent 220px 250px),
      linear-gradient( to right, transparent 0px 90px, #85400F 90px 100px, #A05B23 100px 160px, #85400F 160px 170px, transparent 170px 200px, #F8EEA5 200px 230px, transparent 230px 250px),
      linear-gradient( to right, transparent 0px 100px, #85400F 100px 110px, #D1A75D 110px 120px, #C58742 120px 150px, #85400F 150px 160px, transparent 160px 210px, #F8EEA5 210px 220px, transparent 220px 250px),
      linear-gradient( to right, transparent 0px 70px, #41E67F 70px 80px, transparent 80px 100px, #85400F 100px 110px, #D1A75D 110px 120px, #C58742 120px 140px, #D1A75D 140px 150px, #85400F 150px 160px, transparent 160px 250px),
      linear-gradient( to right, transparent 0px 60px, #41E67F 60px 90px, transparent 90px 110px, #85400F 110px 150px, transparent 150px 250px),
      linear-gradient( to right, transparent 0px 50px, #41E67F 50px 100px, transparent 100px 160px, #00BB46 160px 170px, transparent 170px 220px, #41E67F 220px 230px, transparent 230px 250px),
      linear-gradient( to right, transparent 0px 60px, #41E67F 60px 90px, transparent 90px 150px, #00BB46 150px 180px, transparent 180px 210px, #41E67F 210px 240px, transparent 240px 250px),
      linear-gradient( to right, transparent 0px 70px, #41E67F 70px 80px, transparent 80px 160px, #00BB46 160px 170px, transparent 170px 200px, #41E67F 200px 250px),
      linear-gradient( to right, transparent 0px 210px, #41E67F 210px 240px, transparent 240px 250px),
      linear-gradient( to right, transparent 0px 220px, #41E67F 220px 230px, transparent 230px 250px);
    background-size: 250px 10.9px;
    background-position: 0px 0px, 0px 10px, 0px 20px, 0px 30px, 0px 40px, 0px 50px, 0px 60px, 0px 70px, 0px 80px, 0px 90px, 0px 100px, 0px 110px, 0px 120px, 0px 130px, 0px 140px, 0px 150px, 0px 160px, 0px 170px, 0px 180px, 0px 190px, 0px 200px, 0px 210px, 0px 220px, 0px 230px, 0px 240px;
  }
  
  
  @media screen and (max-width: 980px) {
    
      .shelfSection{
          width: 100%;
      }
    
      .potionSection{
          width: 100%;
      }
    
      .ninjaHeadbandSection{
          width: 100%;
      }
    
      .sharinganSection{
          width: 100%;
      }
    
      .trickTreatSection{
          width: 100%;
      }
    
      .flagSection{
          width: 100%;
      }

      .anbuSection {
        width: 100%;
      }

      .strawHatSection {
        width: 100%;
      }
    
      .totemSection{
          width: 100%;
      }
  }
  